@import "tailwindcss";
@plugin "daisyui";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

/* frontend/src/app/globals.css */
@keyframes gradient-circular {
	0% {
		background-position: 0% 50%;
	}
	25% {
		background-position: 50% 100%;
	}
	50% {
		background-position: 100% 50%;
	}
	75% {
		background-position: 50% 0%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.animate-gradient-circular {
	background-size: 200% 200%;
	animation: gradient-circular 8s ease infinite;
}
